/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~angular2-toaster/toaster';
@import "~animate.css/animate.min.css";


$base-color-amarillo: #f7e400;
$base-color-cyan: #00b7cd;
$base-color-white: #c9cccd;
$base-color-azul-oscuro: rgba(117, 127, 168, 0.64);


.oscuro-transporte-backgroudn{
  background-color: $base-color-azul-oscuro;
}

ion-icon.espacio {
  padding-left: 5px;
  padding-right: 5px;
}

.quitar-estilo-a {
  text-decoration: none;
}

.color-negro {
  color: #000;
}

.separador {
  border-bottom: solid 1px #000;
}

.icono-principal {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
}

.imagen-principal {
  height: 30px;
  width: 40px;
}

.texto-principal {
  font-size: 8px;
  color: #1d1d1d;
  text-transform: capitalize;
}

.contenedor-mapa {
  height: 94%;
  margin: 7px;
  margin-top: 0px;
}

.ol-viewport {
  border: solid black 2px;
  background-color: #e8e7e4;
}

.mapa {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  //background-color: #0bb8cc;
  border: solid #000000 1px;
}

.contenedor-lubricadoras {
  height: 66%;
}

ion-tab-button.selected {

}

.bold {
  font-weight: bolder;
}

.sin-borde {
  max-width: 100%;
  border-radius: inherit;
}

.titulo-tab {
  font-size: 13px;
}

.borde-seleccionado {
  border-style: solid;
  border-radius: 2px 20px 2px;
  border-color: #005066;
}

.borde-no-seleccionado {
  border-style: solid;
  border-color: #ffffff;
}

.swiper-slide img.imagen-menu {
  /* width: auto; */
  max-width: 100% !important;
  /* height: auto; */
  max-height: 100% !important;
}

.icono-arriba {
  height: 100%;
  margin-left: 25%;
  margin-right: 25%;
}

.icono-arriba-espacio-modal {

}

$color-titulo: #13303f;
$color-separacion: #1e2023;

.titulo-modal {
  padding: 5px;
  margin: 2px;
  font-size: 1rem;
  border-bottom: solid $color-titulo 1px;
}

.parrafo-modal {
  text-align: center;
  font-size: 0.7rem;
}

.espaciado {
  border-bottom: solid $color-titulo 1px;
}

.espaciado-pequeno {
  border-bottom: solid $color-titulo 1px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.imagen-modal {
  max-height: 58px;
  margin: auto;
  margin-left: 17%;
  margin-right: 25%;
}


.card-after-banner {
  border: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 0px 0px 39px 39px;
}

.fondo-color-amarillo {
  background-color: $base-color-azul-oscuro;
}

.fondo-color-cyan {
  background-color: $base-color-white;
}

.triangulo-login {
  width: 0;
  height: 0;
  border-left: 26rem solid $base-color-amarillo;
  border-top: solid $base-color-amarillo;
  border-bottom: 11rem solid $base-color-cyan;
}

.margen-slider-menu {
  margin-bottom: 38px;
}

.amarillo-alitas {
  color: #f7e400;
}

.parrafo-titulo-modal {
  padding: 0;
  margin: 0;
  font-size: 0.7rem;
  margin-left: 63px;
}

.imagen-popup {
  order: 0;
  height: 200px;
  margin: auto;
  margin-left: 9%;
}


.padding-popup {
  padding-left: 10%;
  padding-right: 10%;
}

.margen-carta {
  border: 1px solid #1e1e1e;
}


.imagen-pedido {
  order: 0;
  height: 47px;
  margin: auto;
  margin-left: 9%;
}

.parrafo-pedido {
  text-align: center;
  font-size: 0.6rem;
}

ion-toolbar {
  .notification-icon-button {
    --overflow: visible;

    ion-badge {
      position: absolute;
      border-radius: 50%;
      opacity: 0.9;
      top: 0.1rem;
      right: 0.2rem;
    }
  }
}

.margen-boton {
  margin-top: 18px;
}

.imagen-logo {
  max-height: 135px;
  margin-left: 31%;
}

.imagen-numerouno {
  max-height: 100px;
  margin-left: 15%;
}

.background {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  //z-index: -1;
  //overflow: hidden;
}

.color-cancelado {
  color: #f25454;
}

.color-cancelado {
  color: #f25454;
}

.color-entregado {
  color: #10dc60;
}
.ocupar-todo{
  height: 100%;
}

.texto-blaco{
  color: white;
}

.botton-submit{
  background-color: #3ACCE1;
  padding-left: 1rem;
  padding-bottom: 1rem;
  color: white;
}

.separador{
  border-bottom: 1px solid #f5efff;
  width: 100%;
}

.mat-hint {
  color: #2c2c2c !important;
}
