<ion-header>
<!--    <ion-toolbar color="warning">-->
<!--        <ion-title class="ion-text-center">-->
<!--            <img class="icono-arriba" src="assets/imagenes/logo-alitas-cabecera.svg" alt="logo">-->
<!--        </ion-title>-->
<!--    </ion-toolbar>-->
</ion-header>

<ion-content>
    <!--  tabs -->


    <ion-grid style="height:10%;">
        <ion-row style="height:100%;">
            <ion-col>
                <ion-tabs>
                    <!-- Tab bar -->
                    <ion-tab-bar slot="top" class="blanco">
                        <ion-tab-button [selected]="mostrarMapa"
                                        (click)="cambiarTab('mapa')">
                            <ion-icon name="map"></ion-icon>
                            <ion-label>Mapa</ion-label>
                        </ion-tab-button>
                        <ion-tab-button [selected]="!mostrarMapa"
                                        (click)="cambiarTab('lista')">
                            <ion-icon name="paper"></ion-icon>
                            <ion-label>Lista locales</ion-label>
                        </ion-tab-button>
                    </ion-tab-bar>
                </ion-tabs>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!--  mapa-->
    <div class="contenedor-lubricadoras" *ngIf="mostrarMapa">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <h3 class="animated fadeInUp ion-text-center">
                        Mapa de locales
                    </h3>
                </ion-col>
            </ion-row>
            <ion-row>
                <p>Ubica a tus <span class="bold">locales preferidos</span> dentro del mapa. Tú eres el punto de color
                    <span class="rosado bold">rosado</span>.</p>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-text>
                        <!--            <p text-justify>Busca tus talleres o lubricadoras más cercanas y accede a ellas mediante-->
                        <!--              <img class="imagen-icono-text" src="assets/imagenes/google-maps.svg" alt=""> <span-->
                        <!--                      class="bold"> Google Maps</span> o-->
                        <!--              <span class="bold">Waze </span> <img class="imagen-icono-text"-->
                        <!--                                                   src="assets/imagenes/waze.svg">.</p>-->
                    </ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="contenedor-mapa">
            <div id="mapa-locales" class="mapa">
                <div class="background">
                    <p>CARGANDO MAPA...</p>
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>
    <!--  lista-->
    <div *ngIf="mostrarLista" style="height:100%;">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <img class="imagen" src="assets/imagenes/nuestroslocales.png">
                    <p class="parrafo-modal">
                        Puedes buscar rápidamente tu local favorito y
                        <span class="bold">dirigirte a él</span>, también consulta los
                        <span class="bold">horarios de atención</span>.
                    </p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-list>
                        <ion-item *ngFor="let local of establecimientos" class="todo-ancho">
                            <ion-card class="carta animated fadeInRight" *ngIf="local" class="todo-ancho">
                                <ion-card-header>
                                    <ion-card-title><h4 text-center>{{local.nombre}}</h4></ion-card-title>
                                </ion-card-header>
                                <ion-card-content>

                                    <app-mostrar-direccion
                                            [direccion]="local.edificio.direccion"
                                    >

                                    </app-mostrar-direccion>

                                    <p>Whatsapp o teléfono: {{local.edificio.whatsapp}} {{local.edificio.telefono}}</p>

                                    <ion-button expand="full" (click)="mostrarInfoLocal(local)">
                                        Más información
                                    </ion-button>
                                </ion-card-content>
                            </ion-card>
                        </ion-item>
                        <ion-item>
                            <br>
                            <br>
                            <br>
                            <ion-button *ngIf="hayMasLocales" (click)="cargarLocales()" expand="block" class="boton">
                                Cargar más locales
                            </ion-button>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <p class="ion-text-right texto-pequeno">Versión aplicativo: {{versionAplicativo}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>
